body {
    font-family: 'Helvetica', sans-serif;
    background-color: #3B3B3B;
    color: black;
    margin: 0;
    padding: 0;
}

#app {
    text-align: center;
    padding: 20px;
}

.rotina-principal {
    background-color: rgb(210, 231, 73);
    width: 20%;
    height: 60px;
    float: left;
    text-align: center;
    padding: 19px;
    border: 2px solid #555;
    border-radius: 5px;
    margin-right: 10px;
}

.frame-memoria .espaco-memoria{
    width: 300px !important; 
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.frame-memoria.paginacao {
    display: flex;
    background-color: #5e5e5e;
    gap: 2px;
    width: 1550px;
    height: 150px;
    margin: 20px auto;
    border: 3px solid #555;
    position: relative;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
}

.frame-memoria.overlay {
    display: flex;
    background-color: #f0f0f0;
    gap: 2px;
    width: 79%;
    height: 100px;
    margin: 20px auto;
    border: 3px solid #555;
    position: relative;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
}

.frame-memoria .subrotina {
    width: 220px;
    height: 83px;
    font-size: 18px;
    margin: 4px 4px 0 0;
}

.frame-botoes {
    margin: 20px auto;
}

button {
    background-color: #ff0008;
    border: 5px solid black;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #700a0a;
}

#subrotinas-ativas .subrotina,
#subrotinas-fila .subrotina,
#subrotinas-concluidas .subrotina {
    width: 60px;
    height: 40px;
    font-size: 13px;
}

.frame-subrotinas {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.subrotinas {
    width: 500px;
    height: 300px; /* Define uma altura fixa */
    background-color: #635f5ffd;
    border: 3px solid #000000;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; /* Empilha os itens verticalmente */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    color: white;
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    overflow-x: hidden; /* Remove barra de rolagem horizontal */
    gap: 4px 4px; /* Espaçamento entre as subrotinas */
}



.subrotina {
    width: 60px;
    height: 40px;
    margin: 4px 4px 0 0; /* margem pequena entre elas */
    padding: 5px;
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #3496ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: none;
    flex: none;
    display: flex;
    flex-direction: column;
}


/* Estilo para subrotinas em execução */

.subrotina.fila {
    border: 3px solid red; /* Borda vermelha para subrotinas em fila */
    background-color: #fd060e;
    padding: 2px;
}

.subrotina.concluida {
    border: 3px solid green; /* Borda verde para subrotinas concluídas */
    background-color: green;
}

.subrotina.espera {
    border: 3px solid orange; /* Borda laranja para subrotinas em espera */
    background-color: orange;
}



/* Estilo de paginação */

#label-paginacao {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    height: 450px;
    width: 350px;
    overflow-y: auto;  
    border-radius: 20px;
}

#label-paginacao-concluidas {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    height: 450px;
    width: 350px;
    overflow-y: auto;  
    border-radius: 20px;
}

#label-paginacao-ativas{
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    height: 450px;
    width: 350px;
    overflow-y: auto;  
    border-radius: 20px;
}

.subespaco-paginacao {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.espaco-memoria {
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espaco-memoria.fila {
    background-color: red;
}

.espaco-memoria.concluida {
    background-color: green;
}

.espaco-memoria.ativa {
    background-color: yellow;
    color: #333;
    border: 2px solid #e6c200;
}

.frame-memoria.paginacao .espaco-memoria {
    background-color: #f2e206 !important;
    color: #000000 !important;
    width: 300px !important;
    height: 100px !important;
    margin: 0;
}



